.news__title.active{
    font-weight: bold;
}

.news__currencyItem-title{
    font-size: 18px;
}

.news__title{
    font-size: 22px;
}

.search__inputWrapper{
    position: relative;
}

.logo{
    position: absolute;
    left: -170px;
}

.news__itemWrapper{
    position: relative;
    left: -36px;
}

.weather{
    font-size: 28px;
}
